<!DOCTYPE html>
<html ng-app="filterApp">
  <head>
    <meta charset="utf-8">
    <title>Filter - 02 | Angular.cz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body ng-cloak>
    <div ng-controller="RealityCtrl as reality" class="container" >
      <h1>Výběr města</h1>

      <div class="well">

        <div class="form-inline" role="form">
          <div class="form-group">
            <label >Hledání
              <!-- TODO 3.3 - hledání ve všech polích -->
              <input type="text" class="form-control" ng-model="reality.search">
            </label>
          </div>
          <div class="form-group">
            <label >Name
              <!-- TODO 3.1 - hledání dle name -->
              <input type="text" class="form-control" />
            </label>
          </div>   
          <div class="form-group">
            <label >PSČ
              <!-- TODO 3.2 - hledání dle psc -->
              <input type="text" class="form-control" />
            </label>
          </div>

          <label class="radio-inline">
              <!-- TODO 4.2 - řazení dle psč -->
            <input type="radio" ng-model="reality.order" value="" />
            Vzestupně
          </label>
          <label class="radio-inline">
              <!-- TODO 4.2 - řazení dle psč -->
            <input type="radio" ng-model="reality.order" value="" />
            Sestupně
          </label>
        </div> 

        <hr/>

        <div class="row form-inline">
          <!-- TODO 2.1 - doplňte hledání -->
          <!-- TODO 4.1 - filter orderBy -->
          <div class="radio col-md-4" ng-repeat="city in reality.cities| limitTo:30">
            <label>
              <input type="radio" ng-model="reality.city" value="{{::city.psc}}" />
              {{::city.name}} - {{::city.psc}}
            </label>
          </div>
        </div>

      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>